.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.2s;
}

.card:hover {
  border-color: #22c55e;
}

.card h4 {
  font-size: 14px;
  font-weight: 500;
}

.card p {
  font-size: 12px;
  color: #6b7280;
}

.card input {
  width: 18px;
  height: 18px;
}