/* =========================
   CONTAINER
========================= */

.container-platform1 {
  max-width: 1024px;
  margin: auto;
  padding: 24px;
}

/* TITLE */

.title {
  margin-bottom: 24px;

  font-size: 28px;
  font-weight: 600;
}

.title span {
  color: #22c55e;
}

/* MAIN GRID */

.ps-main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-top: 24px;
}
/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1024px) {

  .ps-main-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .container-platform1 {
    padding: 18px 16px;
  }

  .title {
    font-size: 24px;
  }
}