/* =========================
   FEATURES
========================= */

.features {
  width: 100%;
  padding: 60px 0;

  background: #f3f4f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  padding: 0 20px;
}

/* CARD */

.card h2 {
  color: #16a34a;
}